/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

        /*COLOR SCHEME

            White - #ffffff
            Light Grey - #D7E0DB
            Dark Grey - #3B393A
            Grey/Black(text color) - #070707
            Yellow - #FBD811
            Red - #EC3E36
        
        FONT FAMILY: Google Fonts

            font-family: 'Covered By Your Grace', cursive;
            font-family: 'Open Sans Condensed', sans-serif;
            font-family: 'Lato', sans-serif;
*/

/* ========================================
Gobal
======================================== */
body {
  padding: 0 1%;
}

.bodyimgone {
  background-image: url("../images/germanPotatoSalad.jpg");
  background-size: cover;
}

.recipefloat {
  padding: 0 10px;
  position: relative;
  width: 73%;
  display: inline-block;
  float: right;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

aside {
  padding: 0 10px;
  position: absolute;
  width: 24%;
  display: block;
  margin-top: 160px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lower {
  margin-top: 100px;
}

/* ========================================
TEXT STYLES
======================================== */
a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

/* LVHA-order:link — :visited — :hover — :active */

a:link {
  color: #ffffff;
}

/*a:visited {
  color: black;
}*/

a:hover {
  color: rgba(250, 75, 75, .5);
}

a:active, a:focus {
  color: rgba(251, 216, 17, 0.8);
}

p {
  font-style: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: rgba(251, 216, 17, 0.8);
  background-color: #3B393A;
  padding: 10px 40px;
}

/*transition for a smoother color change*/

h1 {
  margin-bottom: 0;
}

h1 > a {
  padding: 0 40px;
  font-size: 60px;
  font-family: 'Covered By Your Grace', cursive;
}

h2 {
  margin-top: 300px;
  padding: 40px;
  font-size: 48px;
  font-family: 'Covered By Your Grace', cursive;
  z-index: 500;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}

h3 {
  text-align: center;
  font-size: 44px;
  font-family: 'Covered By Your Grace', cursive;
  z-index: 500;
  position: relative;
}

h4 {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* ========================================
HEADER + FOOTER
======================================== */
header, footer { 
  border-bottom: 5px solid #FBD811;
  background: linear-gradient(bottom, rgba(59,57,58,1), rgba(59,57,58,.5));
  background: -webkit-linear-gradient(bottom, rgba(59,57,58,1), rgba(59,57,58,.5));
  background: -moz-linear-gradient(bottom, rgba(59,57,58,1), rgba(59,57,58,.5));
}

header {
  height: 100px;
  width: 98%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

footer {
  height: 50px;
  padding: 10px;
  clear: both;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* ========================================
NAVIGATION 
======================================== */
nav li, nav h1, h2 {
  display: inline-block;
}

nav ul {
  float: right;
  padding: 0 40px;
  margin-top: 5px;
}

li {
  padding: 0;
}

/* ========================================
BUTTONS
======================================== */
.btn {
  color: #fff;
  background-color: #3B393A;
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 10px;
}

.btn[disabled] {
  background-color: rgba(256, 256, 256, 0.5);
  color: #D7E0DB;
}

#wrapper {
  padding: 20px;
}

/* ========================================
IMAGES
======================================== */
.img-container {
  position: relative;
  width: 75%;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.home-images {
  max-width: 100%;
}

.img-container h3 {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  margin: 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(bottom, rgba(59,57,58,1), rgba(59,57,58,.4));
  background: -webkit-linear-gradient(bottom, rgba(59,57,58,1), rgba(59,57,58,.4));
  background: -moz-linear-gradient(bottom, rgba(59,57,58,1), rgba(59,57,58,.4));
}

@media screen and (max-width: 600px) {
  .img-container h3 {
    font-size: 18px;
  }
}

#imgcarousel {
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
